PubSubDynamicTargetRoutingUsecase/PubSubDynamicTargetRoutingUsecase/src/main/mule/FLow2ConsumeTopictoCommonWrapper.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<flow name="ConsumeProductCommonwrapperFlow" doc:id="9219025c-cce9-4d61-b92d-f8a77ae377e6">
		<jms:listener doc:name="Listener" doc:id="1a31fd80-4eae-466f-9468-985d32b78934" destination="IntProduct" inboundContentType="application/xml" numberOfConsumers="1" transactionType="XA" primaryNodeOnly="false" transactionalAction="ALWAYS_BEGIN" config-ref="ProductJMSConfig">
			<redelivery-policy maxRedeliveryCount="1"/>
			<reconnect count="3"/>
			<jms:consumer-type>
				<jms:topic-consumer durable="true" subscriptionName="ComplaintSub1234567"/>
			</jms:consumer-type>
			<jms:response persistentDelivery="true" />
		</jms:listener>
		<set-variable value="#[attributes.properties.userProperties.Manufacturer]" doc:name="Set Variable" doc:id="f160a573-509c-4f28-b52f-970c0e948857" variableName="VendorName"/>
		<set-variable value="#[%dw 2.0 output application/java
var fileName= p(attributes.properties.userProperties.Manufacturer ++ '.DWLFileName')
var filePath= &quot;dwl/$(fileName).dwl&quot;
---
readUrl(&quot;classpath://&quot; ++ filePath, 'text/plain')]" doc:name="Set Variable" doc:id="a92076ac-2727-4e6d-9713-ad34dd51f9c6" variableName="Script"/>
		<ee:dynamic-evaluate doc:name="Dynamic Evaluate" doc:id="11901514-532d-435c-82a2-5a193baab74d" expression="#[vars.Script]"/>
		<flow-ref doc:name="Flow Reference" doc:id="e524b451-76e9-43ad-93cf-401bcdad8a64" name="CommonWrappertoVendorsFlow"/>
		<logger level="INFO" doc:name="Logger" doc:id="49987cb1-4524-47d0-a8ea-e82de862db40" message="#[payload]"/>
		<jms:publish doc:name="Publish" doc:id="633b4eef-1f36-436c-b240-d72a587f968c" destination="INTProductResp" transactionalAction="ALWAYS_JOIN" config-ref="ProductJMSConfig">
			<reconnect count="1" />
		</jms:publish>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="a2039333-8294-4317-9551-6a6804e5266c" type="EXPRESSION, STREAM_MAXIMUM_SIZE_EXCEEDED">
				<logger level="ERROR" doc:name="Logger" doc:id="e8f5377b-e358-48a0-b9ab-d7d9696a1700" message="#[error]"/>
			</on-error-propagate>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="d06db4b3-c168-4889-8161-e5c7100e2cf9" type="FILE:ACCESS_DENIED, FILE:CONNECTIVITY, FILE:FILE_ALREADY_EXISTS, FILE:FILE_LOCK, FILE:ILLEGAL_CONTENT, FILE:ILLEGAL_PATH, FILE:RETRY_EXHAUSTED, HTTP:BAD_GATEWAY, HTTP:BAD_REQUEST, HTTP:CLIENT_SECURITY, HTTP:CONNECTIVITY, HTTP:FORBIDDEN, HTTP:INTERNAL_SERVER_ERROR, HTTP:METHOD_NOT_ALLOWED, HTTP:NOT_ACCEPTABLE, HTTP:NOT_FOUND, HTTP:PARSING, HTTP:RETRY_EXHAUSTED, HTTP:SECURITY, HTTP:SERVICE_UNAVAILABLE, HTTP:TIMEOUT, HTTP:TOO_MANY_REQUESTS, HTTP:UNAUTHORIZED, HTTP:UNSUPPORTED_MEDIA_TYPE, JMS:CONNECTIVITY, JMS:DESTINATION_NOT_FOUND, JMS:ILLEGAL_BODY, JMS:PUBLISHING, JMS:RETRY_EXHAUSTED, JMS:SECURITY">
				<logger level="ERROR" doc:name="Logger" doc:id="8515b4b5-d7ff-4280-901b-641154cbc3f3" message="#[error]"/>
			</on-error-continue>
		</error-handler>
	</flow>
	</mule>
